body {
  margin: 0;
  padding: 0;
}

p {
  font-family: Arial;
  font-weight: bold;
  font-size: 13px; 
}

@media (min-width: 1280px){
  .mobile-wrapper{
    display: none;
  }

  .desktop-main-header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 64px;
    background-color: white;
    ul.header-nav{
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      width: 1248px;
      padding-left: 16px;
      padding-right: 16px;
      margin-left: 90.5px;
      margin-right: 90.5px;
    }
    
    .website-icons{
      vertical-align: middle;
      width: 16px;
      height: 16px;
      padding-right: 5px;
      padding-bottom: 5px;
    }

    .bbc-logo{
      width: 112px;
      height: 32px;
      padding-right: 20px;
      .bbc-logo-icon{
        width: 100%;
        height: 100%;
      }
    }

    .bbc-account{
      width: 176px;
      height: 64px;
      .user-icon{
        margin-right: 6px;
        height: 28px;
      }
    }

    .bbc-notification{
      width: 48px;
      height: 64px;
      .notification-icon{
        width: 22px;
        height: 24px;
      }
    }

    .vertical-line{
      height: 24px;
      width: 17px;
      list-style-position:inside;
      border-left: 1px solid black;
    }

    .bbc-options{
      width: 48px;
      height: 64px;
      margin-right: 11px;
      .options-menu-icon{
        width: 20px;
        height: 64px;
        margin-left: 14px;
        margin-right: 14px;

      }
    }

    .bbc-search{
      width: 224px;
      height: 64px;
      .search-icon{
        width: 24px;
        height: 64px;
      }
    }

    .nav-class{
      margin-left: 15px;
      margin-right: 15px;
    }

    li{
      list-style: none;
      display: flex;
      align-items: center;
      a{
        color: black;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 13px;
        display: inline-block;
        vertical-align: middle; 
      }
    }
  }

  .hamburger-menu-navigator{
    display: none;
  }

  .secondary-header{
    height: 62px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #FFD230;
    .secondary-header-container{
      width: 1248px;
      display: flex;
      align-items: center;
      .BBC-Sports-text{
        vertical-align: middle;
      }
    }
    .all-sports{
      display: none;
    }
  }


  .sports-navigator{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 31px;
    background-color: #FFD230;
    ul.category-nav{ 
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      width: 1248px;
    }

    .home-text{
      margin-left: 0;
    }

    .football-text{
      margin: 0;
      padding: 8px;
      background-color: black;
      a{
        color: white;
      }
    }

    li{
      list-style: none;
      display: flex;
      align-items: center;
      margin-left: 8px;
      margin-right: 8px;
      height: 15px;

      a{
        color: black;
        text-decoration: none;
        font-size: 15px;
        font-family: Arial;
        display: inline-block;
        vertical-align: middle; 
      }
    }
  }


  .sub-header-navigator{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 31px;
    background-color: black;
    ul.sub-nav{ 
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      width: 1248px;
    }

    li{
      list-style: none;
      display: flex;
      align-items: center;
      margin-right: 10px;
      height: 15px;

      a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        font-family: Arial;
        display: inline-block;
        vertical-align: middle; 
      }
    }
  }

  .main-body{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 1280px;
    height: 100%;
    .hero{
      display: flex;
      width: 1248px;
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
      .all-article-container{
        display: flex;
        width: 948px;
        flex-wrap: wrap;
        .main-article-container{
          display: flex;
          flex-direction: row;
          width: 695px;
          height: 292.3px;
          .left-column{
            width: 456px;
            height: 257px;
            .main-article-thumbnail{
              width: 100%;
            }
          }
          .right-column{
            max-width: 224px;
            margin-left: 15px;
            .main-article-title{
              font-size: 25px;
              font-family: Arial;
              font-weight: bold;
              margin-top: 0;
              margin-bottom: 0;
              color: black
            }
            .main-article-opening{
              font-family: Arial;
              font-weight: normal;
              font-size: 14px;
              color: grey;
            }
            .main-article-tag{
              display: flex;
              font-weight: bold;
              margin-top: 50px
            }
          }
        }
        .sub-main-article-container{
          width: 253px;
          height: 292.3px;
          .top-column{
            float: right;
            width: 222px;
            height: 126px;
            .secondary-article-thumbnail{
              width: 100%;
            }
          }
          .bottom-column{
            float: right;
            width: 222px;
            .secondary-article-title{
              font-family: Arial;
              font-weight: bold;
              font-size: 15px;
              margin-top: 10px;
              margin-bottom: 0;
            }
            .secondary-article-tag{
              color: green;
              font-weight: normal;
              margin-top: 40px;
            }
          }
        }
        .secondary-article-container {
          display: grid;
          column-gap: 16px;
          row-gap: 0;
          grid-template-columns: repeat(4, 224px);
          .secondary-article{
            height: 231.2px;
            .top-column{
              width: 224px;
              height: 126px;
              .secondary-article-thumbnail{
                width: 100%;
              }
            }
            .bottom-column{
              width: 224px;
              .secondary-article-title{
                font-family: Arial;
                font-weight: bold;
                font-size: 15px;
                margin-top: 10px;
                margin-bottom: 0;
              }
              .secondary-article-tag{
                color: green;
                font-weight: normal;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }



}
















@media (max-width: 900px){

}










@media (max-width: 600px){
  .desktop-wrapper{
    display: none;
  }

  .sports-navigator{
    display: none;
  }

  .mobile-main-header {
    height: 64px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    .main-header-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      .left-section{
        height: 64px;
        display: flex;
        align-items: center;
        .user-icon{
          width: 28px;
          height: 28px;
          padding-left: 10px;
          padding-right: 10px;
        }
        .notification-icon{
          width: 26px;
          height: 26px;
          padding-left: 11px;
          padding-right: 11px;
        }
      }
      
      
      .middle-section{
        height: 64px;
        display: flex;
        align-items: center;
      
        .bbc-logo{
          width: 112px;
          height: 32px;
        }
      }
      
      
      .right-section{
        height: 64px;
        display: flex;
        align-items: center;
      
        .menu-icon{
          width: 24px;
          height: 22px;
          padding-left: 12px;
          padding-right: 12px;
        }
        
        .search-icon{
          width: 28px;
          height: 29px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  
  
  
  
  
  
  .secondary-header {
    height: 58px;
    border-bottom: 1px solid black;
    background-color: #FFD230;
  
    .secondary-header-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 16px;
      padding-right: 16px;
      height: 58px;
    
      .BBC-Sports-text{
        height: 30px;
      }
    
      .all-sports{
        border: 1px solid black;
        padding: 7px;
        margin-left: 1px;
        margin-right: 1px;
    
        .secondary-menu-icon{
          width: 14px;
          height: 13px;
        }
    
        .menu-text{
          margin-left: 5px;
        }
      }
    }
  }
  
  
  
  
  .hero{
    padding-top: 16px;
    
    .main-article-container{
      min-width: 451px;
      padding-left: 16px;
      padding-right: 16px;
      .top-column{
        .main-article-thumbnail{
          width: 100%;
        }
      }
      .bottom-column{
        .main-article-title{
          font-family: Arial;
          font-weight: bold;
          font-size: 25px;
          margin-top: 10px;
          margin-bottom: 0;
        }
  
        .main-article-opening{
          color: gray;
          font-weight: normal;
          font-size: 14px;
        }
  
        .main-article-tag{
          color: green;
          font-weight: normal;
          padding-top: 5px;
          margin: 0;
        }
      }
    }
  }
  
  
  .secondary-section{
    margin-top: 20px;
    .secondary-articles-container{
      display: flex;
      flex-direction: row;
      min-width: 451px;
      padding-left: 16px;
      padding-right: 16px;
      .left-article{
        min-width: 222px;
        margin-right: 7px;
        .top-column{
          .secondary-article-thumbnail{
            width: 100%;
          }
        }
        .bottom-column{
          .secondary-article-title{
            font-family: Arial;
            font-weight: bold;
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 0;
          }
          .secondary-article-tag{
            color: green;
            font-weight: normal;
            padding-top: 5px;
          }
        }
      }
  
      .right-article{
        min-width: 222px;
        .top-column{
          .secondary-article-thumbnail{
            width: 100%;
          }
        }
        .bottom-column{
          .secondary-article-title{
            font-family: Arial;
            font-weight: bold;
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 0;
          }
          .secondary-article-tag{
            color: green;
            font-weight: normal;
            padding-top: 5px;
          }
        }
      }
    }
  }


  .further-secondary-section{
    .further-secondary-articles-container{
      min-width: 451px;
      padding-left: 16px;
      padding-right: 16px;
      .third-secondary-article, .fourth-secondary-article, .fifth-secondary-article, .sixth-secondary-article,
      .seventh-secondary-article, .eighth-secondary-article, .ninth-secondary-article, .tenth-secondary-article,
      .eleventh-secondary-article{
        padding-top: 16px;
        padding-bottom: 8px;
        border-top: 1px solid black;
        display: flex;
        flex-direction: row;
        .left-column{
          min-width: 228px;
          .secondary-article-thumbnail{
            width: 100%;
          }
        }
        .right-column{
          min-width: 223px;
          margin-left: 10px;
          .secondary-article-title{
            font-family: Arial;
            font-weight: bold;
            font-size: 15px;
            margin-top: 0px;
            margin-bottom: 0;
          }
          .secondary-article-tag{
            color: green;
            font-weight: normal;
            padding-top: 5px;
          }
        }
      }
    }
  }

  .social-media-section{
    padding-left: 16px;
    cursor: pointer;
    .social-media-header{
      font-family: ReithSans,Helvetica,Arial,freesans,sans-serif;
      font-weight: 700;
      font-size: 1.25rem;
      margin: 0;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    .social-media-grid {
      display: grid;
      grid-template-columns: 151px 151px;
      column-gap: 0px;
      row-gap: 0px;
      .app-logo-row{
        width: 132px;
        padding-left: 9.5px;
        .app-logo{
          width: 100%;
        }
      }

      .twitter:hover, .facebook:hover, .instagram:hover, .youtube:hover{
        cursor: pointer;
        .app-name{
          color: green;
          text-decoration: underline;
        }
      }


    }
  }


  nav.menu-btn{
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 11.2px;
  }
  .hamburger-menu-navigator{
    display: none;
    z-index: 999;
    width: 100%;
    right: 0;
    background-color: white;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
    .menu-exit{
      width: 16px;
      display: flex;
      float: right;
      margin-right: 15px;
      margin-top: 20px;
    }

    img{
      vertical-align: middle;
      width: 16px;
      height: 16px;
      padding-right: 5px;
      padding-bottom: 5px;
    }

    ul.main-nav{
      padding-left: 16px;
      margin: 0px;
      column-count: 2;
    }
    li{
      list-style: none;
      width: 199.5px;
      height: 64px;
      padding: 0px;
      display: flex;
      align-items: center;

      a{
        color: black;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
        font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;

        &:hover{
          font-weight: bold;
        }
      }
    }
  }

  
  .sub-header-navigator{
    display: flex;
    width: 100%;
    background-color: black;
    ul.sub-nav{
      padding: 0;
      margin: 0;
      overflow-x:hidden;
      white-space:nowrap;
      padding-left: 10px; 
      display: flex;
      align-items: center;
    }

    li{
      list-style: none;
      display: flex;
      align-items: center;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 15px;

      a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        font-family: Arial;
        display: inline-block;
        vertical-align: middle; 
      }
    }
  }

}









